@import url("https://fonts.googleapis.com/css?family=Inconsolata|Lato:400,400i,700,700i&subset=latin-ext");

:root {
  --width: 1280px;
  --height: 720px;
}

html {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

html body {
  /*
  width: var(--width);
  height: var(--height);
  */
  transition: transform 0.5s;
  flex: none;
}

/* Generic styling. */
.reveal {
  font-family: Lato, sans-serif;
  font-size: 48px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Lato, sans-serif;
    letter-spacing: 0;
    text-transform: none;
  }

  code {
    font-family: Inconsolata, monospace;
  }

  pre code {
    font-size: 2em;
    line-height: 1.4;
    max-height: 40em;
  }

  a {
    color: #24396b;
  }

  ul {
    list-style: none;
    margin-left: 0;
  }

  img {
    max-height: 90%;
    background: transparent !important;
    border: 0 !important;
    box-shadow: none !important;

    &.fill {
      height: 70%;
    }
  }

  img.inline,
  a:hover img.inline {
    background: transparent;
    box-shadow: none;
    border: 0;
    width: 1em;
    display: inline-block;
    vertical-align: bottom;
  }
  a:hover img.inline {
    opacity: 0.5;
  }

  img.logo,
  a:hover img.logo {
    background: transparent;
    box-shadow: none;
    border: 0;
  }
  a:hover img.logo {
    opacity: 0.5;
  }

  .todo {
    color: red !important;
    font-weight: bold !important;
    font-family: "Comic Sans MS", inherit !important;
    font-size: 3em !important;
    text-decoration: blink !important;

    &:before {
      content: "TODO: ";
    }
  }

  .source {
    position: fixed;
    display: block;
    left: 0em;
    bottom: 0em;
    font-size: 80%;
    opacity: 80%;
    text-shadow: 0 0 0.1em white;

    &:before {
      content: "Source: ";
    }
  }

  .show-twitter {
    position: fixed;
    display: block;
    right: 0em;
    bottom: 0em;
    font-size: 80%;
    opacity: 80%;
    content: "@LGnome";
    text-shadow: 0 0 0.1em white;
  }

  section.present:not([id="title"]):not([id="thanks"]):not([data-background]):not(.stack):after {
    .show-twitter;
  }

  section.present[data-background="translucent"]:after {
    .show-twitter;
  }

  /* Background styles. */

  /* Support a "translucent" background that puts the default gradient over the
   * top. */
  .backgrounds
    div[data-background-hash^="translucent"].slide-background.present {
    opacity: 0.85;
    background: -moz-radial-gradient(
      center,
      circle cover,
      #f7fbfc 0%,
      #add9e4 100%
    );
    background: -webkit-gradient(
      radial,
      center center,
      0px,
      center center,
      100%,
      color-stop(0%, #f7fbfc),
      color-stop(100%, #add9e4)
    );
    background: -webkit-radial-gradient(
      center,
      circle cover,
      #f7fbfc 0%,
      #add9e4 100%
    );
    background: -o-radial-gradient(
      center,
      circle cover,
      #f7fbfc 0%,
      #add9e4 100%
    );
    background: -ms-radial-gradient(
      center,
      circle cover,
      #f7fbfc 0%,
      #add9e4 100%
    );
    background: radial-gradient(center, circle cover, #f7fbfc 0%, #add9e4 100%);
    background-color: #f7fbfc;
  }

  /* Slides with specific background images have their opacity crunched down. */
  .backgrounds .stack div[style*="background-image"].slide-background.present {
    opacity: 0.15;
  }

  .backgrounds
    .stack
    div[style*="background-image"].slide-background.present:not([data-background-hash*="translucent"]) {
    opacity: 1;
  }

  /* Mixins for slide specific styles. */
  .twitter-inline-icon {
    height: 1.5em;
    margin-bottom: -0.13em;
  }

  /* Slide specific styles. */
  #title {
    h1 {
      font-size: 2em;
      margin: 0 2em 1em;
    }

    h2 {
      font-size: 1.4em;
    }

    h3 {
      font-size: 1.1em;

      &.twitter {
        margin-top: -0.3em;
      }

      &.nr {
        margin-top: 0.5em;
      }
    }

    img {
      height: 1em;
      vertical-align: bottom;

      &.php {
        margin-bottom: -0.035em;
      }

      &.python {
        margin-bottom: -0.19em;
      }

      &.twitter {
        .twitter-inline-icon;
      }
    }

    a {
      color: black;
    }
  }

  #php-versioning,
  #php-versioning-faded {
    .nope {
      text-decoration: line-through rgba(127, 0, 0, 1);
    }

    .nope.fade {
      text-decoration: line-through rgba(127, 0, 0, 0.2);
    }

    .fade,
    .nope {
      color: rgba(0, 0, 0, 0.2);
    }

    .arrow {
      float: left;
      width: 0;
      color: rgb(127, 0, 0);
      font-weight: bold;
      transform: translate(1.5em, 0);
    }

    .php,
    .slash {
      opacity: 0;
    }

    li:nth-child(1) {
      .php {
        opacity: 0.6;
      }
    }

    li:nth-child(2) {
      .php {
        opacity: 0.4;
      }
    }

    li:nth-child(3) {
      .php {
        opacity: 0.2;
      }
    }
  }

  #thanks {
    h3 {
      font-size: 1.1em;
    }

    img.twitter {
      vertical-align: bottom;
      .twitter-inline-icon;
    }
  }

  #bc {
    .bc {
      .outline {
        fill: none;
        stroke: black;
        stroke-width: 10px;
      }

      .fill {
        mix-blend-mode: darken;
        stroke: none;
      }

      .old {
        fill: #ff4444;
        fill-opacity: 0.8;
      }

      .new {
        fill: aqua;
        fill-opacity: 0.8;
        stroke: none;
      }

      .label {
        text-anchor: middle;
      }

      line {
        stroke: black;
        stroke-width: 10px;
      }

      line.arrow {
        marker-end: url(#arrowhead);
      }
    }
  }
}

/* vim: set nocin ai et ts=2 sw=2: */
